body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

/* Header */
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 30px;
}

/* Sections */
section {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
}

/* Headings */
h2 {
    color: #333;
}

/* List */
ul {
    list-style-type: square;
    padding-left: 20px;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
